backend/node_modules/
frontend/node_modules/
backend/package-lock.json
frontend/package-lock.json
frontend/build
.idea/
.vscode/
backend/.env
backend/client/
backend/public/images/
backend/pyScripts/__pycache__/teiToHtml.cpython-38.pyc
frontend/.env.development
frontend/.env.development-org
frontend/.env.production
frontend/.idea/
backend/logs
