.App {
  margin: 0 auto;
  width: 90%;
  display: block;
}

.main-container {
  height: calc(100vh - 52px);
  max-width: 50em;
}

.map-container {
  width: 100%;
  height: 35em;
  position: relative;
}
.map-popup {
  overflow-y: scroll;
  max-height: 9em;
  font-size: 0.8rem;
}
.map-popup h4 {
  text-align: center;
}

.rightSidebar {
  margin-top: 1em;
}

.tag-container {
  margin-top: 440px;
}

/*Legend specific*/
.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
}
.legend h5 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend img {
  width: 1em;
  height: 1.1em;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.8;
}

.divider-root {
  color: black;
}

.statsResults {
  border: 1px solid;
  margin: auto;
}
