.home {
  padding: 1em;
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 2em;
}

.home .result {
  border: 1px solid;
}

.home .menuFilter {
  padding: 1em;
  flex-grow: 1em;
}

.home .bt_plus {
  text-decoration: none;
  box-shadow: none;
  text-transform: none;
  font-size: 1rem;
  padding: 6px 12px;
  border: 1px solid;
  background-color: #81d4fa;
  color: black;
  border-color: #81d4fa;
  margin-top: 2em;
}
.home .bt_plus:hover {
  text-decoration: none;
  background-color: #4fc3f7;
  border-color: #4fc3f7;
  box-shadow: none;
}
.home .bt_plus:active {
  text-decoration: none;
  box-shadow: none;
  background-color: #4fc3f7;
  border-color: #005cbf;
}

.home .chart {
  align-items: center;
  width: 100%;
  height: 20em;
}

.home .euiButtonEmpty__text {
  display: none;
}

.home .images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.home .image {
  width: 10em;
  height: 10em;
  margin: 0 4em 0 4em;
}

.home .typography {
  font-family: -apple-system;
}

.home .typoName {
  font-size: 1rem;
  font-style: oblique;
  color: #424242;
}

.home .typoSurname {
  font-weight: 600;
  font-variant-caps: small-caps;
}

.home .item {
  text-align: justify;
}

.home .foot {
  font-size: 1rem;
  margin: 1em;
}

.home .title {
  color: #000000;
  font-size: 1.5em;
}

.home .map-container {
  width: 100%;
  height: 30em;
  position: relative;
}
