.datasearch {
  margin: auto;
}

.datasearch .list {
  text-align: left;
  height: 10em;
}

.datasearch .searchbox {
  border-radius: 30px;
  padding: 5px 16px 5px 30px;
}

.suggestionlist {
  color: #424242;
  width: 90%;
  margin-left: 5%;
}

.leftSidebar {
  border-right: 1px solid #bdbcc0;
  position: absolute;
  width: 16%;
}

.leftSidebar > div {
  margin: 10px;
}

.author .author-list {
  max-height: 150px;
}
