.lostPassWord {
  font-size: 1rem;
}
.lostPassWord .menu {
  margin: 0 0 4em 1em;
}

.lostPassWord .section_contenu {
  margin: 0 0 4em 1em;
}

.lostPassWord .section_form {
  text-align: center;
}

.lostPassWord .form {
  margin: 1em 0 0 0;
}

.lostPassWord .errorText {
  color: #ab003c;
}

.lostPassWord .section_confirmation {
  text-align: center;
}
