.manage_root {
  flex-wrap: wrap;
  width: 90%;
}

.manage_root .menu {
  margin-top: 2em;
  display: block;
}

.manage_root .link {
  font-size: 14;
  text-align: justify;
  text-decoration: none;
}

.manage_root .paper {
  width: 100%;
  height: 450;
  margin: auto;
  margin-top: 1em;
}

.manage_root .visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1;
  margin: -1;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 20;
  width: 1;
}
.manage_root .head {
  background-color: #e3f2fd;
}

.manage_root .backBt {
  color: #fff;
  background-color: #1976d2;
}

.manage_root .bootstrapRoot {
  display: none;
  position: fixed;
  bottom: 10;
  right: 10;
  box-shadow: none;
  font-size: 16;
  border: 1px solid;
}
.manage_root .bootstrapRoot:hover {
  background-color: #bcaaa4;
  border-color: #bcaaa4;
}

.manage_root .toolBar {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

.manage_root .highlight {
  font-size: 1rem;
  background-color: #e99ad1ab;
}

.manage_root .title {
  flex: 1 1 100%;
  color: #0d47a1;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1em 0 1em 0;
}

.manage_root .selectTitle {
  font-size: 1rem;
  color: #353535;
}

.manage_root .addBt {
  color: #0d47a1;
  font-size: 35px;
}
