.newPost {
  width: 60%;
  margin: auto;
}

.newPost .paper {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newPost .demoEditor {
  height: 15em;
  background-color: #fafafa;
}

.newPost .submit {
  margin: 2em 0 1em 0;
}

.newPost .header {
  display: flex;
  color: #0d47a1;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1em 0 1em 0;
}
.newPost .title {
  display: flex;
  margin: 1em 0 0 0;
  color: #1a1a1a;
  font-size: 1.2rem;
  font-weight: 600;
}

.newPost .input {
  display: none;
}
.newPost .img {
  width: 4em;
  height: 4em;
}

.newPost .textField {
  margin: 1em 0 0em 0;
}

.newPost .type {
  display: flex;
  width: 10em;
  margin: 1em 0 1em 0;
}
