.placeDisplay .root_place {
  max-width: 80em;
  margin: auto;
}

.placeDisplay .lieu_notice {
  padding: 1em;
  color: #212121;
  background-color: #fafafa;
  text-align: justify;
}

.placeDisplay .name {
  font-size: 1.2rem;
  font-family: -apple-system;
  margin-top: 1em;
  font-weight: 600;
}

.placeDisplay .text {
  font-size: 1rem;
  font-family: -apple-system;
  margin-top: 1em;
}

.placeDisplay .urlPlace {
  color: #0091ea;
  font-size: 1rem;
}
