.results .topButton {
  display: none;
  position: fixed;
  bottom: 30%;
  right: 5%;
  box-shadow: none;
  font-size: 1rem;
  border: 1px solid;
}

.results .topButton:hover {
  background-color: #bcaaa4;
  border-color: #bcaaa4;
}

.searchHelp {
  position: fixed;
  border: 1px solid;
  font-size: 0.9rem;
  width: 20em;
  padding: 1em;
  background-color: white;
}

.popperTitle {
  font-weight: 600;
}
.results .info {
  background-color: #1976d2;
}

.results .icon {
  font-size: 20;
}

.results .message {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.results .statsResults {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1em;
}
