.testatorDisplay .testator_notice {
  padding: 1em;
  text-align: justify;
  color: #212121;
  background-color: #fafafa;
}

.testatorDisplay .name {
  font-size: 1.2rem;
  font-family: -apple-system;
  margin-top: 1em;
  font-weight: 600;
}

.testatorDisplay .text {
  font-size: 1rem;
  font-family: -apple-system;
  margin-top: 1em;
}

.testatorDisplay .typosurname {
  font-variant-caps: small-caps;
}

.testatorDisplay .urlTestator {
  color: #0091ea;
  font-size: 1rem;
}
