.willCompare .image {
  padding: 2px;
  font-size: 1rem;
  color: #212121;
  background-color: #fafafa;
  text-align: justify;
  width: 450px;
}

.willCompare .typoSurname {
  font-variant-caps: small-caps;
}

.willCompare .title {
  font-size: 1.4rem;
  font-style: oblique;
  text-align: center;
  font-weight: 600;
}

.willCompare .linkPage {
  color: #212121;
  font-size: 1rem;
  font-weight: 400;
}

.willCompare .linkPage:hover {
  color: #0091ea;
}

.willCompare .selectedLink {
  font-weight: 600;
  color: #0091ea;
  font-size: 1rem;
}
