.wills .headingBar{
  padding: 0px 30px 0px 15px;
}

.wills .countResults,
.wills .sort_results{
 padding-top: 20px;
 font-family: 'PT Sans';
}
.wills .countResults{
  font-size: 0.9rem;
  font-weight: 700;
  color: black;
  padding-left: 15px;
}

.wills .sort_results .select .MuiInputBase-input{
  padding-top: 0px;
  padding-bottom: 0.001rem;
}
.wills .sort_results label {
    font-size: 0.9rem;
    font-family: 'PT Sans';
    padding-right: 5px;
    color: black;
    font-weight: bold;
}

.wills .leftColumn {
  padding: 15px 25px 5px 10px;
  background-color: #F5F5F5;
}
.wills .leftColumn .resultList ul{
  list-style-type: none;
  font-family: "Fira Sans";
  color:black;
  font-size: .975rem;
  padding:0;
}
.wills .leftColumn .resultList ul li{
  padding-top:6px;
  padding-bottom: 6px;
}
.wills .leftColumn .resultList ul li:hover,
.wills .leftColumn .resultList ul li.active{
  color:#B91918;
}
.wills .leftColumn .resultList ul li.active{
  font-weight: 600;
}