.will #btnBack{
  margin-bottom: 20px;
}

.willDisplay{
  background-color: white;
}

.willDisplay .itemTitle{
  margin-top: 10px;
}
.willDisplay .itemTitle i{
  padding-right: 10px;
  font-size: 1.8em;
}
.willDisplay h1.item{
  color:black;
  font-size:1.3rem;
  line-height: 1.8rem;
  font-weight: 600;
  margin-top: 0px;
}
.willDisplay h1.item a{
  color:#1F8299;
}

.willDisplay  .containerWillInfo #btExport{
  margin-right: 12px;
}
.willDisplay .containerWillInfo .fa-briefcase{

}
.exportBtn > div{
    border:1px solid #1F8299;
    border-radius: 0px;
  padding:0!important;
  margin:0!important;
  display: block;
}
.exportBtn ul{
  padding:0!important;
  margin:0!important;
  color: #1F8299;
  display: block;
}
.exportBtn li{
  padding:0!important;
  margin:0!important;
  display: block;
}
.exportBtn li:hover{
  background-color: #C7D7E1;
}
.exportBtn button{
  min-width: 50px;
  text-align: left;
  font-weight: 400;
  border-radius: 0px;
  margin:0;
  padding:0px 2px 0px 2px;
}
.exportBtn button i{
  padding-right: 5px;
}
.willDisplay .willInfo {
  margin-top: 20px;
  font-size:1rem;
  font-family: "Fira Sans";
}
.willDisplay .willInfo > div{
  margin-bottom: 20px;
}
.willDisplay .willInfo a{
  color:#1F8299;
}
.willDisplay .willInfo a:hover{
  color:#8DB2C2;
}

.wills .pagination {
  padding-bottom: 0px;
}
.wills .pagination a{
  margin-bottom: 7px;
  padding: 1px 3px;
  font-size: 0.75rem;
}


.willDisplay .containerWillInfo{
  padding: 20px 20px 20px 20px;
  display: block;
}


.willDisplay .tabs{
  margin:auto;
  display: inline-block;
  margin-top: 20px;
}
.willDisplay .tabs{
  color:#1F8299;
  padding-bottom: 10px;
  padding-top: 5px;
  padding-right: 6px;
  padding-left: 6px;
}

.willDisplay .tabs .tab{
  padding-left: 8px;
  display: inline-block;
}
.willDisplay .tabs div.tab:not(:last-of-type):after{
  content: '\|';
  color: #B91918;
}
.willDisplay .tabs button{
  font-family: 'Fira Sans';
  color:#1F8299;
  font-size: 0.9rem;  
  padding-right: 0px!important;
  padding-left: 0px!important;
}
.willDisplay .tab button.page_title:hover{
  text-decoration: none;
  color:#B91918;
}
.willDisplay .tabs button.permalink{
  padding-right: 0px!important;
  padding-left: 0px!important;
}
.willDisplay .tabs button.active,
.willDisplay .tabs button.active i{
  color:#B91918;
  font-weight: 600;
}
.willDisplay .tab .permalink i{
  font-size:0.8rem;
  padding-left: 4px;
  padding-right: 6px;
  color: #2E5D81;
}
.willDisplay .tab button.permalink:hover i{
  color:#B91918;
}

.permalienDialog > div > div{
  font-size: 1rem;
  padding: 10px 10px 10px 10px;
}
.permalienDialog input {
  width:500px;
  min-height:5px;
  padding: 0px 5px 5px 5px;
  border:none!important;
  display: inline-block;
}
.permalienDialog .label {
  font-weight: 600;
}
.permalienDialog .MuiInput-underline:before{
 content:"";
}




.willDisplay .containerColumns
{
 padding: 15px 10px 15px 10px;
 display: block;
}
.willDisplay .containerColumns > div{
  max-width: 100%;
    margin-top: 20px;
}



.willDisplay .containerColumns .columnTitle{
  color:#2E5D81;
  font-weight: 700;
  font-size: 1.1rem;  
  text-align: center; 
  font-family: 'Fira Sans';
  position: relative;
  top:-60px;
}
.willDisplay .containerColumns .columnTitle i{
  font-size: 1.175rem;
  padding-right: 4px;
}
.willDisplay .containerColumns .columnContent{
 margin: 12px 10px 70px 10px;
 padding: 26px 30px 30px 30px;
 width: 100%;
 font-family: 'Fira Sans';
}
.willDisplay .columnContent  .edition {
  line-height: 1.5rem;
}
.willDisplay .image {
  max-width: 100%
}


.willDisplay .columnContent .MuiSvgIcon-colorPrimary,
.willDisplay .columnContent .transcription .choice {
    color: #1F8299;
}

.willDisplay .contributeursWill{
  border-radius: 0px;
  padding-top: 15px;
}
.willDisplay .contributeursWill h2{
 margin-bottom: 20px;
}
.willDisplay .contributeursWill > div{
  padding-bottom: 5px;
  font-size: 0.9rem;
}

.transcription .choice,
.transcription .app {
  position: relative;
  border-bottom: 1px dotted black;
}

.transcription .choice .corr,
.transcription .choice .expan {
  visibility: hidden;
  width: auto;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  background-color: #2E5D81;
  color: #fff;
  top: 115%;
  left: 0%;
  text-align: center;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.transcription .app .note {
  visibility: hidden;
  width: 100%;
  background-color: #2E5D81;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.transcription .choice:hover .corr,
.transcription .app:hover .note,
.transcription .choice:hover .expan,
.transcription .choice:hover .sic .surplus {
  visibility: visible;
}

.transcription .choice {
  color: #2E5D81;
}

.transcription .lem {
  color: #2E5D81;
}

.transcription .unclear {
  color: #2E5D81;
}


