.transcription .choice,
.transcription .app {
  position: relative;
  border-bottom: 1px dotted black;
}

.transcription .choice .corr,
.transcription .choice .expan {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 100%;
  left: 50%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.transcription .app .note {
  visibility: hidden;
  width: 100%;
  background-color: #424242;
  color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.transcription .choice:hover .corr,
.transcription .app:hover .note,
.transcription .choice:hover .expan,
.transcription .choice:hover .sic .surplus {
  visibility: visible;
}

.transcription .choice {
  color: #607d8b;
}

.transcription .lem {
  color: #8faebd;
}

.transcription .unclear {
  color: #e8631c;
}

.willDisplay .paper {
  padding: 2px 2px 2px 2px;
  font-size: 1rem;
  color: #212121;
  background-color: #fafafa;
  text-align: justify;
}

.willDisplay .typoSurname {
  font-variant-caps: small-caps;
}

.willDisplay .title {
  font-size: 1.4rem;
  font-style: oblique;
  text-align: center;
  font-weight: 600;
}

.willDisplay .nextPage {
  display: block;
  margin-left: 90%;
}

.permalienDialog {
  font-size: 1rem;
}

.permalienDialog input {
  width: 25em;
  height: 1em;
}

.permalienDialog .label {
  font-weight: 600;
}

.willDisplay .linkPage {
  color: #212121;
  font-size: 1rem;
  font-weight: 400;
}

.willDisplay .linkPage:hover {
  color: #0091ea;
}

.willDisplay .selectedLink {
  font-weight: 600;
  color: #0091ea;
  font-size: 1rem;
}
